{% extends "base.html" %}
{% load static %}
<style>
    body {
        color: aquamarine;
    }

    /* Add custom styles for responsiveness */
    @media (max-width: 768px) {
        img {
            width: 100%; /* Make the image responsive */
        }

        .col-6 {
            text-align: center; /* Center align columns on small screens */
        }

        .ml-2.block {
            margin-left: 0; /* Remove margin on small screens */
            text-align: center; /* Center align text on small screens */
        }
    }
</style>
{% block post %}
<div class="container">
    <div class="center m-5 bg-white">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="{% static 'assets/images/qr.jpeg' %}" alt="" class="img-fluid">
                <p class="ml-2 block">Price: INR 5100</p>
                <p class="ml-2" style="color: red;">Note: Less Amount is not be Acceptable and will not be refunded</p>
            </div>
            <div class="col-lg-6 col-md-12 mt-5">
                <form action="" method="post" novalidate class="shadow p-5" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}}<small class="text-danger">{{fm.errors | striptags}}</small>
                    </div>
                    {% endfor %}
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg bg-primary">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock post %}
