.elementor-1204 .elementor-element.elementor-element-3b250d5 {
	margin-top: 0px;
	margin-bottom: 60px;
}

.elementor-1204 .elementor-element.elementor-element-d8f23ed {
	padding: 0% 12% 0% 12%;
}

.elementor-1204 .elementor-element.elementor-element-abb8382 {
	text-align: center;
}

.elementor-1204 .elementor-element.elementor-element-abb8382 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Jost", Sans-serif;
	font-size: 29px;
	font-weight: 500;
	line-height: 35px;
}

.elementor-1204 .elementor-element.elementor-element-246f5fd {
	text-align: center;
	color: #FFFFFF;
	font-family: "Jost", Sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.elementor-1204 .elementor-element.elementor-element-46d7159 {
	padding: 0% 7% 0% 7%;
}

.elementor-1204 .elementor-element.elementor-element-2320f2b {
	padding: 0% 12% 0% 12%;
}

.elementor-1204 .elementor-element.elementor-element-3021f03 {
	text-align: center;
}

.elementor-1204 .elementor-element.elementor-element-3021f03 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Jost", Sans-serif;
	font-size: 29px;
	font-weight: 500;
	line-height: 35px;
}

.elementor-1204 .elementor-element.elementor-element-5166dad {
	text-align: center;
	color: #FFFFFF;
	font-family: "Jost", Sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.elementor-1204 .elementor-element.elementor-element-7b07b43 {
	padding: 0% 12% 0% 12%;
}

.elementor-1204 .elementor-element.elementor-element-3ac5652 {
	text-align: right;
}

.elementor-1204 .elementor-element.elementor-element-269a14a {
	text-align: left;
}

.elementor-1204 .elementor-element.elementor-element-57b46a7 {
	padding: 0% 12% 0% 12%;
}

.elementor-1204 .elementor-element.elementor-element-9fd43f0 {
	text-align: center;
}

.elementor-1204 .elementor-element.elementor-element-9fd43f0 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Jost", Sans-serif;
	font-size: 29px;
	font-weight: 500;
	line-height: 35px;
}

.elementor-1204 .elementor-element.elementor-element-1700878 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Jost", Sans-serif;
	font-size: 18px;
	font-weight: 400;
}

@media(max-width:767px) {
	.elementor-1204 .elementor-element.elementor-element-d8f23ed {
		padding: 0% 0% 0% 0%;
	}

	.elementor-1204 .elementor-element.elementor-element-abb8382 .elementor-heading-title {
		font-size: 24px;
		line-height: 32px;
	}

	.elementor-1204 .elementor-element.elementor-element-46d7159 {
		padding: 0% 0% 0% 0%;
	}

	.elementor-1204 .elementor-element.elementor-element-2320f2b {
		padding: 0% 0% 0% 0%;
	}

	.elementor-1204 .elementor-element.elementor-element-3021f03 .elementor-heading-title {
		font-size: 21px;
		line-height: 29px;
	}

	.elementor-1204 .elementor-element.elementor-element-7b07b43 {
		padding: 0% 0% 0% 0%;
	}

	.elementor-1204 .elementor-element.elementor-element-57b46a7 {
		padding: 0% 0% 0% 0%;
	}

	.elementor-1204 .elementor-element.elementor-element-9fd43f0 .elementor-heading-title {
		font-size: 21px;
		line-height: 29px;
	}
}